/*-- scss:defaults --*/
// Colors from
// https://identity.stanford.edu/design-elements/color/
$navbar-bg: #820000;
$navbar-fg: #ffffff;

// Digital Blue
$link-color: #006CB8;

// Light Fog-ish
$card-cap-bg: rgb(242, 241, 235);
$code-bg: rgb(242, 241, 235);

// Black
$card-color: rgb(46, 45, 41);
/*-- scss:rules --*/

// figures in dashboards use center alginment but it messes with plotly?
.quarto-dashboard .card figure.quarto-float {
    align-items: unset;
}

.unset-flex .img-fluid {
    flex: unset;
}